@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jua", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 100px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

p {
    line-height: 1.5;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.orange {
    color: orange;
}

.library__logo--container {
    width: 150px;
    overflow: hidden;
}

.library__logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}



.nav__link {
    margin-left: 12px;
    text-decoration: none;
    font-size: 24px;
    color: #22984fdb;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline dotted 4px;
}

.nav__link--primary {
    border: 6px solid #ffb22f;
    border-radius: 10px;
    padding-bottom: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #ffb22f;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #229883f0;
    top: 0;
    left: 0;
    right: 0;   
    bottom: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}
.menu__link {
    font-size: 40px;
    color: #ffb22f;
}

.btn__menu--close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 8px;
    color: white;
}


/*
Landing
*/

#landing {
    background-color: #ac77fb1f;
}


/*

header {
    height: calc(100vh - 80px);
}

*/

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline
}


h1 {
    font-size: 56px;
    color: orange;
    margin-bottom: 24px;
    text-align: center;
}

h2,
h3 {
    text-align: center;
    margin-bottom: 12px;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: rgba(225, 108, 145, 0.705);
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

.header__img--wrapper {
    padding: 20px 20px 0 20px;
    z-index: 5;
}




.header__img {
    max-height: 70vh;
    object-fit: scale-down;
}



.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-cursor {
    cursor: no-drop;
}

/*Highlights*/

#highlights {
    position: relative;

}

#highlights:after,
#highlights:before {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}


.highlight__wrapper {
    display: flex;
    align-items: flex-start;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    border: 4px solid rgba(241, 118, 125, 0.567);
    padding: 28px;
    padding: auto;
    border-radius: 16px;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}




/* FEATURES */

#features {
    padding: 8vw;
    background-color: #ac77fb1f;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    width: 25%;
    padding: 18px;
}

.book__img {
    width: 240px;
    height: 320px;
    object-fit: contain;
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.book__img--coding,
.book__img--astronomy {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book:hover .book__img {
    transform: scale(1.05);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;   
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: lightslategray;
}


/*recent*/

/*explore*/

#explore {
    background-color: #ac77fb1f;
    display: flex;
    justify-content: center;
}

.button__container {
    display: flex;
    justify-content: center;
}

/*FOOTER*/

footer {
    background-color: #2298837d;
}

.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 160px;;
}

.footer__link,
.footer__copyright {
    color: white;
}

.footer__list {
    margin: 24px;
}

.footer__link {
    margin-right: 12px;
}

.last__link {
    margin-right: 0;
}

.footer__logo--popper {
    position: absolute;
    left: 25%;
    top: 30px;
    font-weight: bold;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__anchor {
    position: relative;
    color: white;
}

.footer__anchor:hover .footer__logo--popper {
    transform: translateY(-40px);
    opacity: 1;
}



@media (max-width: 1200px) {
    .book {
        width: calc(100% / 3);
    }
    
}


@media (max-width: 768px) {
    .book {
        width: 50%;
    }
    
}

@media (max-width: 620px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
    
}